@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300&display=swap');

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3, h4, h5, h6 {
    @apply text-2xl;
}

.md-paragraph_open, .md-ordered_list_open, .md-unordered_list_open {
    @apply leading-relaxed px-8 mb-8 block text-lg text-gray-800 max-w-2xl mx-auto;

    a {
        @apply text-orange-500 underline;

        &:hover {
            @apply no-underline;
        }
    }
}

.md-link_open {
    @apply text-orange-500 underline;

    &:hover {
        @apply no-underline;
    }
}

.md-heading_open {
    @apply font-display font-light leading-tight px-8 pb-4 pt-8 mb-4 text-gray-800 block border-b-4 border-orange-100 max-w-2xl mx-auto;
}

.header-anchor {
    @apply hidden;
}

.md-ordered_list_open {
    @apply list-decimal list-inside;
}

.primary {
    @apply text-green-500
}

.secondary {
    @apply text-green-800
}

@tailwind utilities;
